body {
    color: #00e676;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.4em;
    margin: 0;
    height: 100%;
    width: 100%;
    background: black;
    margin-top: 20px;
    margin-bottom: 40px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

body > pre {
    font-size: 1em;
    margin-bottom:0;
}

span.dushi_btn {
    text-decoration: underline;
    cursor: pointer;
}

.header {
    padding-left: 20px;
}

.input span.even {
    color: #467eff;
}

.input span.odd {
    color: #ff4d4d;
}

.input {
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #00e6764a;
}

#screen {
    margin-top:16px;
}

.input p {
    display: inline-block;
    padding-right: .4em;
    margin: 0;
    padding: 10px;
    color: #ffffffe3;
}
